<html>
    <head>
        <meta charset="UTF-8">
        <title>HTML5 Canvas Basic Game Framework</title>

        <!-- jQuery library -->
        <script type="text/javascript" src="jquery/jquery-2.1.4.min.js"></script>

        <script type="text/javascript" src="canvasjs/canvasjs.min.js"></script>
        <script type="text/javascript" src="reconnecting-websocket/reconnecting-websocket.min.js"></script>
        <script type="text/javascript" src="catchTheSquare.js"></script>
        <script type="text/javascript" src="websocketclient.js"></script>
    </head>
    <body onload="catchTheSquare();">
        <div id="ipConfigDiv">
            <input type="text" id="ipTextBox" value="10.0.0.9" />
            <button id="connect">Connect</button>
            <button id="disconnect">Disconnect</button>
        </div>
        <!-- <div id="chartContainer" style="height: 300px; width: 100%;">
</div> -->
        <br>
        <canvas id="viewport" width="640" height="480"></canvas>
    </body>
</html>